/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body
{
    background-color:#fcfaf4;
}
#container
{
    width:650px;
    margin:0 auto;
}
}
#topbar
{
    background-color:#51473d;
}
#menu
{
    background-color:#51473d;
    margin-bottom:0;
    bottom:0;
    width:650px;
    float:left;
}
#menu li
{
    list-style-type:none;
    display:inline;
}
#content
{
    float:left;
    background-color:#eae7d2;
    margin-top:0px;
    top:0px;
}